.banner3{
    background-image: url(../../../public/assets/banner-sobre.png);
    background-size: cover;
    background-color: white;
    background-position: center;
}

.cont-sobre{
    text-align: center;
}

.margem{
    margin: 50px 0;
}